.modal-auth{
  text-align: center;
  &__title{
    font-size: 21px;
    font-weight: 600;
    line-height: 1;
  }
  &__sub-title{
    font-size: 18px;
    line-height: 1;
  }
  input{
    margin: 0 0 10px 0;
    padding: 8px 16px;
    border-radius: 10px;
    border: solid 1px #212529;
    width: 90%;
  }
  .btn{
    width: 100%;
    border: solid 1px #b18d34;
    color: #fff;
    background: #b18d34;
    padding: 3px 19px;
    border-radius: 35px !important;
    margin: 10px 5px;
    font-size: 18px;
    opacity: 1;
    &:last-child{
      background: #212529;
      border-color: #212529;
    }
    &:hover{
      opacity: .9;
    }
  }
}
