.education{
  &__header{
    background: url('../../assets/images/bg/education.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    padding: 0;
    & > * {
      position: relative;
      z-index: 2;
    }
    &:before{
      content: '';
      background: rgba(19, 18, 49, .5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .row{
      height: 40vh;
    }
  }
  &__section-title{
    margin-bottom: 45px;
  }
  &__sub-title{
    margin: 0;
  }
  .btn-group {
    background: #131231;
    border-radius: 50px;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    padding: 5px;
  }
  .education__btn {
    background: transparent;
    border: none;
    padding: 5px 10px;
    color: #fff;
    border-radius: 20px;
    margin: 0;
    &.zaz{
      background: #0c0b29 !important;
      padding: 10px 24px !important;
    }
    &.active{
      background: #b18d34;
    }
  }
  .section{
    padding: 50px 0;
  }
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 20px;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.audio-container{
  margin-bottom: 25px;
  &__title {
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.exam{
  position: relative;
  margin-bottom: 25px;
  background: url('../../assets/images/bg/exam-bg.jpeg') no-repeat center;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  &:hover:before{
    background: rgba(19, 18, 49, 0.7);
  }
  &:before{
    content: "";
    background: rgba(19, 18, 49, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &:after{
    content: "";
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 0 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  &__title{
    font-size: 16px;
    line-height: 1;
    color: #fff;
    font-weight: bold;
  }
  .trigger {
    display: inline-block;
    text-align: center;
    color: #fff;
    margin: 0 20px 0 0;
    &:last-child{
      margin-right: 0;
    }
    &__top {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__img{
      width: 20px;
      margin: 0 0 0 10px;
    }
    &__value{
      font-size: 24px;
      font-weight: 600;

      white-space: nowrap;
      display: flex;
    }
    &__bottom{
      margin-top: -5px;
    }
    &__text{
      font-size: 10px;
      margin-top: -2px;
    }
  }
}
.audio-container{
  margin-bottom: 25px;
  &__title {
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__disabled {
    pointer-events: none;
    opacity: .3;
  }
}
.exam-title{
  font-size: 21px;
  font-weight: 600;
  color: #131231;
}

.man{
  .col{
    text-align: center;
  }
  img{
    //max-width: 150px;
  }
  p{
    font-size: 32px;
    line-height: 1;
    color: #b18d34;
    font-weight: bold;
    margin: 0;
  }
  .ps {
    font-size: 16px;
    color: #131231;
    width: 90%;
    text-align: center;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .man {
    flex-direction: column;
    p {
      font-size: 24px;
      text-align: center;
    }
    .ps {
      margin: 0;
    }
  }
}